<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Update User</h1>
<form  th:action="@{'/updateUser/' + ${user.id}}" th:object="${user}" method="POST">
<input type="hidden" th:field="*{id}" />
<input type="text" th:field="*{firstName}">
<input type="text" th:field="*{lastName}">
<input type="text" th:field="*{email}">
<button type="submit" > Update Employee</button>
</form>
<a th:href="@{/home}">Take you to the home page</a>
</body>
</html>